@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #ebebeb;
  padding: 0;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
}
/* Heading  */
.heading {
  display: flex;
  width: 94vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 40px;
}
/* Left Side of heading */
.left_side img {
  width: 120px;
}
/* Left Side End  */
/* Right Start  */
.right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart img {
  width: 30px;
}
.right_text {
  margin-top: -5px;
}
/* Right End  */
/* Background Image  */
.background {
  margin-top: 10px;
}
.background_image img {
  width: 100%;
  height: 50vh;
}
/* Background Text  */
.background_txt_cont {
  position: absolute;
  color: white;
  top: 0;
  width: 318px;
  height: 401px;
  margin-top: 46px;
  margin-left: 1px;
}
.background_txt {
  margin-top: 60px;
  margin-left: 60px;
  font-size: 50px;
  text-align: start;
}
.background_txt1 {
  font-size: 20px;
  margin-left: 60px;
  margin-top: 20px;
}
/* Book Whole Container  */
.new_books {
  margin-top: 90px;
}
.new_books_text {
  margin-left: 110px;
  font-size: 18px;
}
.new_books_wholecont {
  margin-top: 40px;
  /* justify-items: center; */
  margin-left: 110px;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.new_books_image img {
  width: 160px;
}
.new_book_name {
  width: 130px;
  font-size: 14px;
}
.new_book_author {
  font-size: 11px;
  opacity: 0.5;
  margin-top: 10px;
}
.new_book_total {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.new_book_price {
  font-size: 16px;
}
.add_to_cart {
  display: flex;
  flex-direction: row;
  background-color: #6095fe;
  width: 65px;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.add_to_cart_text {
  font-size: 14px;
  color: white;
}
.add_to_cart_image img {
  width: 20px;
  margin-top: 3px;
}

/* New Books container Completed */

/* New Games Section Started */
.new_games {
  margin-top: 140px;
}
.new_games_text {
  font-size: 18px;
  margin-left: 120px;
}
.new_games_wholecont {
  margin-top: 40px;
  /* justify-items: center; */
  margin-left: 120px;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.new_games_image img {
  width: 240px;
}
.game_name {
  font-size: 15px;
}
.about_game {
  font-size: 11px;
  opacity: 0.5;
  margin-top: 10px;
}
.new_game_total {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.new_game_price {
  font-size: 16px;
}
.games_add_cart {
  display: flex;
  flex-direction: row;
  background-color: #6095fe;
  width: 65px;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.games_cart_text {
  font-size: 14px;
  color: white;
}
.game_cart img {
  width: 20px;
  margin-top: 3px;
}

/* Games Section Completed */
/* handmade Section Started*/

.handmade {
  margin-top: 130px;
}

.handmade_text {
  font-size: 18px;
  margin-left: 120px;
}
.handmade_wholecont {
  margin-top: 40px;
  /* justify-items: center; */
  margin-left: 120px;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.handmade_image img {
  width: 240px;
}
.handmade_name {
  font-size: 15px;
}
.about_handmade {
  font-size: 11px;
  opacity: 0.5;
  margin-top: 10px;
}
.handmade_total {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.handmade_price {
  font-size: 16px;
}
.handmade_add_cart {
  display: flex;
  flex-direction: row;
  background-color: #6095fe;
  width: 65px;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.handmade_cart_text {
  font-size: 14px;
  color: white;
}
.handmade_cart img {
  width: 20px;
  margin-top: 3px;
}

/* Handmade Section Completed */

/* Footer Started */

.footer {
  position: absolute;
  margin-top: 130px;
  background-color: black;
  width: 100%;
  height: 25vh;
}
.insidefooter {
  display: flex;
  margin-left: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.line {
  margin-top: 30px;
  margin-left: 30px;
  color: white;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 10px;
  background-image: url(/assets/krishti.png);
  background-clip: content-box;
  background-position: center;
  background-size: cover;
}
.rightside_foot {
  line-height: 30px;
  text-align: right;
  color: white;
  margin-top: 40px;
}
@media screen and (max-width: 600px) {
  .background_image img {
    width: auto;
  }
  .heading {
    width: auto;
  }
  .right_side {
    margin-left: 715px;
  }
  .cart img {
    width: 60px;
  }
  .right_text {
    font-size: 30px;
  }
  .left_side img {
    width: 220px;
  }
  .background_txt_cont {
    margin-top: 40px;
    line-height: 75px;
    width: 290px;
  }
  .background_txt {
    font-size: 60px;
  }
  .background_txt1 {
    margin-top: -12px;
    font-size: 30px;
  }
  .new_books {
    width: 100%;
  }
  .new_books_text {
    width: 1000px;
    font-size: 80px;
  }
  .new_books_wholecont {
    margin-left: 280px;
    grid-template-columns: repeat(1, 1fr);
    gap: 140px;
  }
  .new_books_image img {
    width: 600px;
  }
  .new_book_name {
    width: 600px;
    text-align: center;
    font-size: 45px;
  }
  .new_book_author {
    width: 600px;
    text-align: center;
    font-size: 35px;
  }
  .new_book_total {
    width: 600px;
  }
  .new_book_price {
    font-size: 40px;
  }
  .add_to_cart {
    width: 130px;
  }
  .add_to_cart_text {
    font-size: 35px;
  }
  .add_to_cart_image img {
    width: 45px;
  }
  .new_games {
    width: 100%;
  }
  .new_games_text {
    width: 1000px;
    font-size: 80px;
  }
  .new_games_wholecont {
    margin-left: 177px;
    grid-template-columns: repeat(1, 1fr);
    gap: 140px;
  }
  .new_games_image img {
    width: 800px;
  }
  .game_name {
    width: 800px;
    text-align: center;
    font-size: 55px;
  }
  .about_game {
    width: 800px;
    text-align: center;
    font-size: 45px;
  }
  .new_game_total {
    width: 800px;
  }
  .new_game_price {
    font-size: 40px;
  }
  .games_add_cart {
    width: 130px;
  }
  .games_cart_text {
    font-size: 35px;
  }
  .game_cart img {
    width: 45px;
  }
  .handmade {
    width: 100%;
  }
  .handmade_text {
    width: 1000px;
    font-size: 80px;
  }
  .handmade_wholecont {
    margin-left: 177px;
    grid-template-columns: repeat(1, 1fr);
    gap: 140px;
  }
  .handmade_image img {
    width: 800px;
  }
  .handmade_name {
    width: 800px;
    text-align: center;
    font-size: 55px;
  }
  .about_handmade {
    width: 800px;
    text-align: center;
    font-size: 45px;
  }
  .handmade_total {
    width: 800px;
  }
  .handmade_price {
    font-size: 40px;
  }
  .handmade_add_cart {
    width: 130px;
  }
  .handmade_cart_text {
    font-size: 35px;
  }
  .handmade_cart img {
    width: 45px;
  }
  .footer {
    width: 1183px;
    height: 115vh;
  }
  .line {
    font-size: 100px;
  }
  .circle {
    width: 350px;
    height: 350px;
  }
  .rightside_foot {
    font-size: 42px;
    margin-top: -182px;
    margin-left: -125px;
    line-height: 45px;
  }
}
